*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Marmelad';
    src: url('/fonts/m/Marmelad.ttf');
}

#header {
    font-family:'AppleGothic';
    font-weight: bold;
    font-size: larger;
    width: 100%;
    height: 130px;
    text-align: center;
    color: black;
    line-height: 130px;
    margin-bottom: 0px;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#main {
    color: black;
    font-family: "Marmelad";
    text-align: left;
    width: 40%;
    height: 500px;
    float: left;
    margin-left: 10px;
    padding: 30px;
    padding-left: 100px;
    font-family: 'Marmelad';    
}

#aside {
    color: rgb(255, 255, 255);
    margin-top: 50px;
    font-weight: bold;
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: #a5a4a4;
    border-radius: 30px;
    background-image: url(https://cdn.discordapp.com/attachments/1186475823209910331/1189990461755105290/logo.jpeg?ex=65a02bfb&is=658db6fb&hm=bae1c947d45b1e74557143b1cdb38bc0c089f8f581396beb7263a27774fbdc65&); 
    line-height: 300px;
    float: right;
    margin-right: 150px;

} 
#aside img {
    width: 100%;
    height: auto;
}

#menu {
    display: flex;
    gap: 20px; 
    padding-right: 100px;
}

.links {
    text-decoration: none;
    color: #333; 
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 100px;
    color: rgb(247, 247, 247);
    float: left;
    background-color: #FF904E;
    display: flex;
    justify-content: space-between;
    align-items: center;

    

}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
    
}

a h1 {
    text-align: left;
    padding-left: 100px;
    line-height: 70px;
}

p {
 
    text-align: left;
    font-size: 20px;
    margin-left: 60px;
}
.pre_text b {
    font-size: 45px;
    text-align: left;
}

@font-face {
    font-family: 'Marmelad';
    src: url('/fonts/m/Marmelad.ttf');
    font-family: 'Marmelad';
}

#main p {
    font-family: 'Marmelad';
    font-size: 25px; 
    margin-top: 15px;
}

.icon {
    display: flex;
    position: relative;
}
#mail {
    margin-right: 600px;
}
#whatsapp {
    margin-left: 600px;
}
