h1 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

h3 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

p {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

ul, li {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}