@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Space+Mono&display=swap');

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ECC29E;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a, a:hover {
    text-decoration: none;
}

nav {
    background: #222;
    padding: 5px 20px;
    display: flex;
    align-items: center;

    /*
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1;
    */
    
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #ef4b3f;
}

.logo {
    flex: 1;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover {
    color: #fff;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 10px;
    font-size: 16px;
}

.toggle {
    font-size: 30px;
    display: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #ef4b3f;
    margin-top: auto;
    width: 100%;
}

.footer span {
    color: #fff;
}

.footer ul {
    list-style: none;
    display: flex;
}

.footer li {
    margin: 0px 5px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #222;
}


/*
#banner {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0px 25px;
    margin-top: 20px;
    border-radius: 2.5%;
}
*/

.services_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    gap: 150px;
    
}

.services_header h1{
    
}

.services_content h3 {
    
}

.services_content p {
    
}


@media screen and (max-width: 600px) {
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu {
        margin-top: 15px;
        display: none;
    }

    .menu.active, .toggle {
        display: block;
    }

    .toggle {
        position: absolute;
        top: 15px;
        right: 20px; 
    }

    .services_section {
        display: block;
    }

}

#about_img {
    border-radius: 10%;
    width: 400px;
    height: 320px;
}

.social_img {
    border-radius: 10%;
    width: 230px;
    height: 190px;
}