body {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    background-color: #ECC29E;
}


#about_img {
    border-radius: 10%;
    width: 400px;
    height: 320px;
}

.social_img {
    border-radius: 10%;
    width: 230px;
    height: 190px;
}