@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mongolian&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; 
}

/* These styles applied to Multiple Elements */

section {
    display: flex;
    flex: 1;
}

.wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/*---------------*/

/* Navigation Bar */
a, a:hover {
    text-decoration: none;
}

nav {
    background: #222;
    padding: 1.5em 2.5em;
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #ef4b3f;
}

.logo {
    flex: 1;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
}

.logo a:hover {
    color: #fff;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 10px;
    font-size: 18px;
}

.toggle {
    font-size: 30px;
    display: none;
}
/*---------------*/

/* Banner */
.banner 
{
    background-color: lightblue;
    padding: 3em 0;

    margin: 5px;
    
    width: 100%;
}

.banner_container {
    margin: 0 auto;
    max-width: 85%; 
    background-color: aquamarine;
    overflow: hidden;
    border-radius: 15px;
}

.banner_container img {
    width: 100%;
    height: auto;
    display: block;
}
/*---------------*/

/* Title for Services */
.title {
    background-color: lightblue;
    flex: 2 1 150px;
    text-align: left;
    display: flex;
    align-items: center;
}

.wrapper h1 {
    font-size: 3em;
}
/*---------------*/

/* Collapsible List */
.content {
    background-color: lightblue;
    margin: 5px;
    flex: 3 3 150px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.service_list {
    width: 90%;
    margin-right: auto;
    margin-left: auto;

    /*max-width: 700px;*/

    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;   
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service h3 {
    font-size: 1.1rem;
}

.service_info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.service_info p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1rem;
}

.service_list.active .service_info {
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
}

.service_list.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
    min-width: 15px;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*---------------*/


/* Images */

/* Initial Layout:
.img_container {
    margin: 0 auto;
    max-width: 100%; 
    background-color: aquamarine;
    overflow: hidden;
}

.img_container img {
    width: 100%;
    height: auto;
    display: block;
}
*/

/*---------------*/

/* About Us*/
.title2 {
    background-color: lightblue;
    margin: 5px;
    flex: 2 1 150px;
    
    text-align: left;
    display: flex;
    align-items: center;
}

.wrapper h1 {
    font-size: 3rem;
}

.content2 {
    background-color: lightblue;
    padding: 2em 0;
    margin: 5px;
    flex: 3 3 150px;
    text-align: left;
}

.wrapper p {
    font-size: 1.5rem;
    font-weight: 400;
}
/*---------------*/

.title3 {
    background-color: lightblue;
    padding: 2em 0;
    margin: 5px;
    flex: 2 1 150px;
    text-align: center;
    width: 100%;
}

.img_container {
    margin: 0 auto;
    max-width: 80%; 
    background-color: aquamarine;
    overflow: hidden;
}

.img_container img {
    width: 100%;
    height: auto;
    display: block;
}

.content3 {
    background-color: lightblue;
    padding: 2em 0;
    margin: 5px;
    flex: 3 3 150px;
    text-align: center;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #ef4b3f;
    margin-top: auto;
    width: 100%;
    font-size: 0.5em;
}

footer span {
    color: #fff;
}

footer ul {
    list-style: none;
    display: flex;
}

footer li {
    margin: 0px 5px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #222;
}
/* -------------- */

@media all and (max-width: 1200px) {
    section {
        flex-direction: column;
    }

    .img_container {
        max-width: 90%;
    }

    /* Navigation Bar */
    nav {
        display: block;
        position: relative;
        padding: 1.5em 2.5em;
    }

    .logo a {
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .menu {
        margin-top: 15px;
        display: none;
    }

    .menu.active, .toggle {
        display: block;
    }

    .toggle {
        position: absolute;
        top: 40px;
        right: 35px; 
    }
    /* -------------- */

    /* Banner */
    .banner_container {
        max-width: 90%;
    }
    /* -------------- */
}

@media screen and (max-width: 600px) {
    .img-container {
        max-width: 100%; 
    }

    /* Navigation Bar */
    nav {
        padding: 1em 1em;
    }

    .logo a {
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .toggle {
        position: absolute;
        top: 35px;
        right: 20px; 
    }
    /* -------------- */
}   