* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 3em;
    text-align: center; 
}

header {
    background-color: lightblue;
    padding: 2em 0;
    margin: 5px;
}

.main {
    display: flex;
    flex: 1; 
}

main {
    background-color: lightblue;
    padding: 2em 0;
    margin: 5px;
    flex: 2 1 150px;
}

.right {
    background-color: lightblue;
    padding: 2em 0;
    margin: 5px;
    flex: 3 3 150px;
}

footer {
    background-color: lightblue;
    padding: 2em 0;
    margin: 5px;
}

.img_container {
    margin: 0 auto;
    max-width: 100%; 
    background-color: aquamarine;
    overflow: hidden;
}

.img_container img {
    width: 100%;
    height: auto;
    display: block;
}



@media all and (max-width: 1200px) {
    .main {
        flex-direction: column;
    }
    
    .img_container {
        max-width: 90%;
    }

}

@media screen and (max-width: 480px) {
    .img-container {
        max-width: 100%; 
    }
}