* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 3em;
    text-align: center; 
}

header {
    background-color: lightblue;
    padding: 2em 0;
    margin: 5px;
}

section {
    display: flex;
    flex: 1;
}

.title {
    background-color: lightblue;
    padding: 2em 0.75em;
    margin: 5px;
    flex: 2 1 150px;
    width: 100%;
}

.content {
    background-color: lightblue;
    padding: 2em 0;
    margin: 5px;
    flex: 3 3 150px;
    width: 100%;
}

footer {
    background-color: lightblue;
    padding: 2em 0;
    margin: 5px;
}

@media all and (max-width: 1200px) {
    section {
        flex-direction: column;
    }
}