@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3D0B2;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    font-family: 'Raleway', sans-serif; 
}

/* Navigation Bar */
a, a:hover {
    text-decoration: none;
}

nav {
    background: #404040;
    padding: 1.5em 2.5em;
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #ef4b3f;
}

.logo {
    flex: 1;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 1px;
}

.logo a:hover {
    color: #fff;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 10px;
    font-size: 18px;
}

.toggle {
    font-size: 30px;
    display: none;
}
/*---------------*/

.container {
    display: flex;
    flex: 1;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.title {
    background-color: lightblue;
    padding: 2em 0.75em;
    margin: 5px;
    flex: 2 1 150px;
    width: 100%;
}

.content {
    background-color: lightblue;
    padding: 2em 0;
    margin: 5px;
    flex: 3 3 150px;
    width: 100%;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 2.5em;
    background: #404040;
    margin-top: auto;
    width: 100%;
    font-size: 1.2em;
}

footer span {
    color: #fff;
}

footer ul {
    list-style: none;
    display: flex;
}

footer li {
    margin: 0px 5px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #222;
}
/* -------------- */

@media all and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    /* Navigation Bar */
    nav {
        display: block;
        position: relative;   
        padding: 1.5em 2.5em;
    }

    .logo a {
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .menu {
        margin-top: 15px;
        display: none;
        text-align: center;
    }

    .menu.active, .toggle {
        display: block;
    }

    .toggle {
        position: absolute;
        top: 40px;
        right: 35px; 
    }
    /* -------------- */
}

@media screen and (max-width: 600px) {

    /* Navigation Bar */
    nav {
        padding: 1em 1em;
    }

    .logo a {
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .toggle {
        position: absolute;
        top: 35px;
        right: 20px; 
    }
    /* -------------- */

    /* Footer */
    footer {
        font-size: 1em;
        padding: 1em 1em;
    }
    /* -------------- */
}   